@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Big+Shoulders+Display:wght@600&family=Coda+Caption:wght@800&display=swap');

ul  {
  font-family: 'Coda Caption', sans-serif;
  font-size: 30px;
}

.imageTitle {
  font-family: 'Big Shoulders', sans-serif;
  font-weight: 800;
}

figcaption {
  font-family: 'Balsmiq Sans', sans-serif;
}

.photoCredit {
  font-family: 'Balsmiq Sans', sans-serif;
  font-weight: 700;
}

footer {
  font-family: 'Coda Caption', sans-serif;
  font-size: 20px;

  text-align: center;
}