body {
  margin: 0;
  background-color: whitesmoke;
}

.banner {
  width: 100%;
  height: 3rem;

  background-color: #C6EFFF;
}

.navButton {
  height: 3rem;
  width: 3rem;

  background-color: transparent;

  border: none;
  outline: none;

  font-size: 2.5rem;
}

button:hover {
  background-color: black;
  color: #C6EFFF;
}

nav {
  position: fixed;
  top: 3rem;
  left: 0;

  height: 100vh;
  width: 25rem;

  background-color: #C6EFFF;

  transform: translateX(-100%);
  transition: transform 0.2s;
}

.xIcon {
  display: none;
}

.showNav {
  transform: translateX(0);
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
  font-size: 2rem;
}

.nav-options {
  margin-top: 0;
}

.socials {
  display: inline-flex;
}

a {
  color: black;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;

  padding: 20px;
  padding-bottom: 90px;

  margin-left: 0;
  margin-right: 0;
  list-style: none;
}

figcaption {
  max-width: 200px;
  max-height: 15px;

  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

figure {
  transition: transform 0.1s;
  padding: 20px;
  text-align: center;
  min-width: 200px;

}

.gallery-img {
  padding: 0px;

  max-width: 300px;
  max-height: 300px;
  align-items: center;

  object-fit: scale-down; 

  border-radius: 10px 10px 10px 10px;
}

footer {
  /*DO NOT add a width to the footer, keeps messing with page width*/
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #C6EFFF;

  /*Paw image for background on footer*/
  background-image: url(../images/nav-bar-paw-image.svg);

  background-size: contain;
  background-repeat: repeat;

  height: 3rem;
  padding: 10px 16px;
}